.resume
{
	text-align: center;
	background-color:#10A7AF;
	color: white; 
}
.detail
{
font-weight: bold;
font-size: 24px;
}
.head1
{
	font-size: 30px;
	font-weight: bold;
}
.head2
{
	font-size: 26px;
	margin-left: 10px;
}
